.Address-edit {
    background-image: linear-gradient(to right, #c6ccef, #d3d5e2);
    margin: 8em;
    margin-left: 25em;
    padding: 2em;
    box-shadow: 1px 1px 10px;
    border-radius: 1em;
    margin-right: 25em;
    font-family: 'Victor Mono', monospace;
}

.address-edit-submit {
    text-align: center;
}

.form_header {
    text-align: center;
}

.addressUpdataForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}