
.your-orders,.address ,.cred{
    display: flex;
    text-align: center;
    align-items: center;
    padding : 1em ; 
    margin:1em ; 
}

.address-logo, .orders-logo, .cred-logo{
    margin-right: 4em;
    padding: 1em;
    margin-left: 2em;
    width: 20%;
    
}

.address-nav, .orders-nav, .cred-nav{
    padding: 1em;
    width: 80%;
    box-shadow: 1px 1px 10px;
    border-radius: 1em;
    background-image: linear-gradient(to right, #dddddd , #b8b8cc);
}
.profile-container{
    background-image: linear-gradient(to right, #e5e5e5 , #8888ef);
    padding: 2em;
    margin: 2em;
    box-shadow: 2px 2px 100px;
    width : 60%;
    margin-left: 20%;
    margin-top: 6em;
    border-radius: 1em;
    font-family: 'Victor Mono', monospace;
}